* {
    margin: 0;
    padding: 0;
}

body {
    color:#e6e6e6;
    text-align: center;
    background-color: #0d0a0d;
}

.wrapper {
    /* background-color: #3385FF; */
    display: flex;
    gap: 10em;
    padding-top: 0.3em;
    justify-content: center; /* Aligns items to the horizontal center */
}

.left-section {
    width: 10em;
    padding: 3em;
    border-radius: 1em;
    background-color: #171417;
    border: 1px solid #262326 ;
}
.left-section li {
    color: #e6e6e6;
    text-decoration: none;
    text-align: left;

}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
    width: 20em;
    margin-top: 1em;
    padding: 1.3em;
    height: 10em;
    min-width: 20em;
    border-radius: 1em;
    background-color: #171417;
    border: 1px solid #262326 ;
}

#optionBtn {
    cursor: pointer;
}

.button {
    display: flex;
    
    justify-content: space-between;
}

.button button {
    background-color: #26151d;
    color: #ff73a9;
    height: 3em;
    width: 10em;
    border: none;
    border-radius: 1em;
    font-weight: 600;
    font-size: 0.9em;
}

.right-section input {
    height: 3em;
    width: 100%;
    border-radius: 1em;
    outline: none;
    border: none;
}

.right-section input::placeholder{
    color: rgb(169, 169, 169);
    padding-left: 1em;
}



.submitBtn {
    background-color: #0d0a0d;
    color: #E5F0FF;
    border: none;
    height: 3em;
    width: 100%;
    border: 1px solid #262326 ;
    border-radius: 1em;
    font-weight: 600;
    font-size: 1em;    
}

.submitBtn:hover {
    /* background-color: #1e1a1edf; */
    border: 1px solid #3e3c3e ;
    cursor: pointer;
}